h1,
h2,
h3,
h5 {
	font-family: verdana;
	text-transform: uppercase;
	color: silver;
}

a {
	color: black;
	font-size: 1.5em;
}

a:hover {
	text-decoration: none;
}


/* Header */
header {
	height: 150px;
	background-color: black;
	border-bottom: 5px solid red;
}

.title {
	padding: 1.8em;
	text-align: right;
}

.logo {
	margin: 0 0 0 2em;
}


/* Hero */
.hero {
	margin: 2em 0 2em 0;
	height: 400px;
	overflow: hidden;
}


/* Featured work & Projects */
section {
	width: 100%;
	margin: 1em;
}

h3 {
	padding: 0 0 0 1em;
	color:#02a6ce;
}

.project {
	text-align: center;
}

.project:hover {
	box-shadow: 3px 9px 15px 3px rgba(0, 0, 0,0.2);
	background-color: rgba(1, 55, 99, 0.2);
}

.thumbnail {
	border: 1px solid black;
	display: inline-block;
	width:100%;
}


/* Footer */
footer {
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	border-top: 5px solid red;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;
	height: 200px;
	background-color: black;
}

ul {
	padding: 0;
	width: 100%;

	list-style: none;
}

li {
	display: inline;
}

.social-media {
	padding: 0.5em 0.5em 0 0 ;
	color:white;
	font-size:2em;
}

.social-media:hover {
	color: #0ff;
}

@media (max-width: 1091px) {
	.hero {
		height: 300px
	}
}

@media (max-width: 850px) {
	header {
		height: 80px;
	}
	.hero {
		height: 200px;
		margin: 0;
	}
	.title {
		padding: 0.6em;
	}
	h1 {
		font-size: 1.6em;
	}
	h2 {
		font-size: 1.2em;
	}
	.logo {
		width: 75px;
		height: 75px;
		margin: 0;
	}
}